[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/delimitate"]
	path = home/.vim/bundle/delimitate
	url = git://github.com/vim-scripts/delimitMate.vim.git
[submodule "home/.vim/bundle/eruby"]
	path = home/.vim/bundle/eruby
	url = git://github.com/vim-scripts/eruby.vim.git
[submodule "home/.vim/bundle/haml"]
	path = home/.vim/bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/indent-guides"]
	path = home/.vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = git://github.com/vim-scripts/Markdown.git
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "home/.vim/bundle/matchit-ruby"]
	path = home/.vim/bundle/matchit-ruby
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/ruby"]
	path = home/.vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/tag-list"]
	path = home/.vim/bundle/tag-list
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/textobj-rubyblock"]
	path = home/.vim/bundle/textobj-rubyblock
	url = git://github.com/vim-scripts/textobj-rubyblock.git
[submodule "home/.vim/bundle/trailing-whitespace"]
	path = home/.vim/bundle/trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/textobj-user"]
	path = home/.vim/bundle/textobj-user
	url = git://github.com/vim-scripts/textobj-user.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-slim"]
	path = home/.vim/bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "home/.vim/bundle/vim-emoji"]
	path = home/.vim/bundle/vim-emoji
	url = https://github.com/junegunn/vim-emoji.git
