[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    a   = add
    ap  = add -p
    b   = branch
    ba  = branch -a
    ch  = cherry-pick
    ci  = commit
    cia = commit --amend
    co  = checkout
    ds  = describe
    df  = diff --word-diff
    dfs = diff --word-diff --stat
    dc  = diff --word-diff --cached
    dcs = diff --word-diff --cached --stat
    ds  = diff --stat
    fe  = fetch -p -a
    ft  = fetch -t
    l   = log
    lf  = log --follow
    lo  = log -p
    lof = log -p --follow
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    mf  = merge --no-ff -
    pl  = pull --rebase
    ph  = push
    phf = push -f
    sh  = show
    sm  = submodule update
    st  = status -sb
[push]
    default = current
[github]
    user = chatgris
[rerere]
    enabled = 1
[user]
    email = chatgri@gmail.com
    name = chatgris
[commit]
  template = ~/.git-commit-template
[gh]
  autoUpdate = always
