[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    sm = submodule update
    ci = commit
    co = checkout
    ch = cherry-pick
    br = branch
    bra = branch -a
    fe = fetch -p
    l = log
    last = log --oneline -1 HEAD
    info = remote -v
[push]
    default = current
[github]
    user = chatgris
[user]
    name = chatgris
    email = julien.boyer@af83.com
