[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    a = add
    b = branch
    ba = branch -a
    bc = branch --contains
    bm = branch --merged
    bn = branch --no-merged
    ch = cherry-pick
    ci = commit
    co = checkout
    ds = describe
    df = diff --word-diff
    fe = fetch -p
    ft = fetch -t
    i = remote -v
    l = log
    la = log -p -1 HEAD
    lo = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    pl = pull
    ph = push
    sm = submodule update
    st = status -sb
[push]
    default = current
[github]
    user = chatgris
[rerere]
    enabled = 1
[user]
    email = julien.boyer@af83.com
    name = chatgris
